.hide {
    display: none;
}
input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    height: 35px;
    padding: 5px;
    width: 315px;
}

.hide {
    display: none;
}
.table-header {
    border: medium none !important;
    width: 100%;
}
.table-header th {
    background: none repeat scroll 0 0 #EBEBEB;
    min-width: 150px;
    padding: 5px;
}
body {
    font-family: Arial;
}
.user_data {
    border: medium none !important;
    width: 100%;
}
.user_data td {
    min-width: 250px;
    padding: 5px;
}

select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 0 0 0 0;
    color: #555555;
    height: 35px;
    padding: 3px 0 3px 5px;
    width: 315px;
}
input {
  margin-top: 10px;
}

#txtHint-label {
    margin-left: 3px;
    margin-top: 10px;
}
